version: '3.8'
services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    restart: always
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception_network
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -uroot -p\"$MYSQL_ROOT_PASSWORD\" --silent"]
      interval: 5s
      timeout: 5s
      retries: 20

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    restart: always
    env_file:
      - .env
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    healthcheck:
      test: ["CMD-SHELL", "[ -f /var/www/html/wp-content/plugins/redis-cache/redis-cache.php ] || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 20

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    restart: always
    env_file:
      - .env
    ports:
      - "443:443"
    depends_on:
      wordpress:
        condition: service_healthy
    volumes:
      - wordpress_data:/var/www/html
      - ./requirements/bonus/static_website:/var/www/html/static_website
    networks:
      - inception_network

  redis:
    container_name: redis
    build: ./requirements/bonus/redis
    restart: always
    env_file:
      - .env
    networks:
      - inception_network
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a \"$REDIS_PASSWORD\" ping | grep -q PONG"]
      interval: 5s
      timeout: 5s
      retries: 20

  ftp:
    container_name: ftp
    build: ./requirements/bonus/FTP
    restart: always
    ports:
      - "21:21"
      - "40000-40010:40000-40010"
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
  
  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer
    restart: always
    depends_on:
      wordpress:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - inception_network

  cadvisor:
    container_name: cadvisor
    build: ./requirements/bonus/cadvisor
    restart: always
    ports:
      - "8081:8081"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - inception_network

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/loay1/data/mariadb
      o: bind
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /home/loay1/data/wordpress
      o: bind

networks:
  inception_network:
    driver: bridge
